body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1122%26quot%3b)' fill='none'%3e%3cpath d='M5.04 -17.76L69.99 19.74L69.99 94.74L5.04 132.24L-59.91 94.74L-59.91 19.74zM264.86 207.24L329.81 244.74L329.81 319.74L264.86 357.24L199.9 319.74L199.9 244.74zM329.81 319.74L394.76 357.24L394.76 432.24L329.81 469.74L264.86 432.24L264.86 357.24zM524.67 207.24L589.62 244.74L589.62 319.74L524.67 357.24L459.72 319.74L459.72 244.74zM524.67 432.24L589.62 469.74L589.62 544.74L524.67 582.24L459.72 544.74L459.72 469.74zM784.48 432.24L849.44 469.74L849.44 544.74L784.48 582.24L719.53 544.74L719.53 469.74zM849.44 544.74L914.39 582.24L914.39 657.24L849.44 694.74L784.48 657.24L784.48 582.24zM979.35 319.74L1044.3 357.24L1044.3 432.24L979.35 469.74L914.39 432.24L914.39 357.24zM1239.16 94.74L1304.11 132.24L1304.11 207.24L1239.16 244.74L1174.21 207.24L1174.21 132.24zM1174.21 207.24L1239.16 244.74L1239.16 319.74L1174.21 357.24L1109.25 319.74L1109.25 244.74zM1498.98 94.74L1563.93 132.24L1563.93 207.24L1498.98 244.74L1434.02 207.24L1434.02 132.24zM1498.98 544.74L1563.93 582.24L1563.93 657.24L1498.98 694.74L1434.02 657.24L1434.02 582.24z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M-2.46 -17.76 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.49 19.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.49 94.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-2.46 132.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-67.41 94.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-67.41 19.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.36 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.31 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.31 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.36 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.4 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.4 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.26 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.26 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.31 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.36 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.17 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.12 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.12 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.17 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.22 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.22 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.17 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.12 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.12 544.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.17 582.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.22 544.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.22 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM776.98 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM841.94 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM841.94 544.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM776.98 582.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.03 544.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.03 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM906.89 582.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM906.89 657.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM841.94 694.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM776.98 657.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM971.85 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1036.8 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1036.8 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM971.85 469.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM906.89 432.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM906.89 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1231.66 94.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1296.61 132.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1296.61 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1231.66 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1166.71 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1166.71 132.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1231.66 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1166.71 357.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1101.75 319.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1101.75 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.48 94.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1556.43 132.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1556.43 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.48 244.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.52 207.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.52 132.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.48 544.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1556.43 582.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1556.43 657.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1491.48 694.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.52 657.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1426.52 582.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M98.54 89.08L187.75 140.58L187.75 243.58L98.54 295.08L9.34 243.58L9.34 140.58zM9.34 243.58L98.54 295.08L98.54 398.08L9.34 449.58L-79.86 398.08L-79.86 295.08zM187.75 -65.42L276.95 -13.92L276.95 89.08L187.75 140.58L98.54 89.08L98.54 -13.92zM187.75 243.58L276.95 295.08L276.95 398.08L187.75 449.58L98.54 398.08L98.54 295.08zM187.75 552.58L276.95 604.08L276.95 707.08L187.75 758.58L98.54 707.08L98.54 604.08zM366.15 -65.42L455.36 -13.92L455.36 89.08L366.15 140.58L276.95 89.08L276.95 -13.92zM366.15 552.58L455.36 604.08L455.36 707.08L366.15 758.58L276.95 707.08L276.95 604.08zM1258.18 -65.42L1347.39 -13.92L1347.39 89.08L1258.18 140.58L1168.98 89.08L1168.98 -13.92zM1347.39 89.08L1436.59 140.58L1436.59 243.58L1347.39 295.08L1258.18 243.58L1258.18 140.58zM1258.18 552.58L1347.39 604.08L1347.39 707.08L1258.18 758.58L1168.98 707.08L1168.98 604.08zM1436.59 -65.42L1525.79 -13.92L1525.79 89.08L1436.59 140.58L1347.39 89.08L1347.39 -13.92z' stroke='url(%23SvgjsLinearGradient1123)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1122'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='220.03199999999998' y1='-220.02399999999997' x2='1219.9679999999998' y2='780.024' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1123'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(39%2c 84%2c 141%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin-bottom: 100px;
}

#coin {
    margin-bottom: 100px;
    
    align-self: center;
}

#button {
    background: #64ffda;
    color: #111;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
    font-size: 23px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 8px #DCDCDC;
}

#button:hover {
    
        background: #64ffda;
        color: Purple;
        text: bold;
        box-shadow: 60px 60px 400px #DCDCDC;
        opacity: 0.8;

}

.animate-coin {
    animation: flip 1.4s 1;

}

@keyframe flip {
    0% {
        transform: scaled(1, 1, 1) rotateX(0deg);
    }
    50% {
        transform: scaled(2, 2, 2) rotateX(360deg);
    }
    100% {
        transform: scaled(1, 1, 1) rotateX(720deg);
    }
}

.container {
    width: 80%;
    
    margin: 200px auto;
    text-align: center;
}

img {
    max-width: 50%;
}

#tailsCounter span, #headsCounter span {
    color: #6ab344;
}

#result {
    color: #6ab344;
}